html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.exibe-noticia hr {
    border-color: #a7a7a7;
}

.aviario-home .zoom {
    overflow: hidden;
}

.aviario-home .zoom img {
    max-width: 100%;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.aviario-home .zoom:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

.aviario-home .penultimo-post img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.aviario-home .penultimo-post {
    position: relative;
    overflow: hidden;
}

.aviario-home .penultimo-post .titulo-post {
    height: auto;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 15px;
    background: linear-gradient(0deg, rgba(0,0,0,0.83) 34%, rgba(0,0,0,0.82) 35%, rgba(0,0,0,0.66) 68%, transparent 100%);
}

.aviario-home .penultimo-post h3 {
    color: #fff;
}

.aviario-home .posts-laterais {
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    
}

.aviario-home .posts-laterais p {
    font-size: 16px;
    line-height: 20px;
}

.aviario-home .posts-laterais img {
    width: 100%;
    height: 174px;
    object-fit: cover;
}

.aviario-home .posts-laterais:nth-child(1){
    margin-bottom: 15px;
}

.aviario-home .posts-laterais .previa p{   
    width: 100%;      
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aviario-home .busca-guia-comercial {
    background-image: url('../img/bg-area-comercial.jpg');
    background-position: center;
    margin: 30px 0 45px;
    padding: 60px 16px 40px 16px;
    color: #fff;
}

.aviario-home .busca-guia-comercial p {
    font-size: 18px;
}

.aviario-home .busca-guia-comercial .area-procura-comercio {
    margin: 20px 0;
    padding: 10px;
    width: 580px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.linha-categorias {
    padding-left: 30px;
}

.aviario-home .categorias-random {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    margin-right: 12px;
    background-color: #2d9cdb;
    
}

.aviario-home .categorias-random p {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}

.navbar .area-procura-noticia {
    width: 300px;
    padding: 10px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.listagem-noticias .area-procura-noticia {
    width: 100%;
    padding: 10px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.aviario-home .busca-guia-comercial .area-procura-comercio button, .navbar .area-procura-noticia button, .guia-comercial .area-procura-comercio button, .listagem-noticias .area-procura-noticia button {
    border: none;
    background-color: transparent;
}

.aviario-home .busca-guia-comercial .area-procura-comercio button:focus, .navbar .area-procura-noticia button:focus, .guia-comercial .area-procura-comercio button:focus, .listagem-noticias .area-procura-noticia button:focus {
    outline: none;
}

.aviario-home .busca-guia-comercial .procura-comercio, .navbar .procura-noticia, .guia-comercial .procura-comercio, .listagem-noticias .procura-noticia{
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font: 0.9rem;
    padding-right: 15px;
}

.fa-search {
    font-size: 16px;
    color: #4d4d4d;
}

.aviario-home .busca-guia-comercial .rodape p {
    font-size: 14px;
}

.guia-comercial .legenda-guia p {
    font-size: 15px ;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
}

.guia-comercial .area-procura-comercio {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    height: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.guia-comercial .info p {
    font-size: 14px;
    line-height: 18px;
}

.destaque {
    color: #2d9cdb;
    font-weight: bold;
}

.aviario-home .posts-secundarios img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.aviario-home .anuncios-laterais .anuncio:nth-child(1){
    margin-bottom: 20px;
}

.anuncios-laterais img, .anuncio img {
    width: 100%;
}

.anuncios-laterais {
    position: relative;
    right: 0;
}

.deixe-comentario {
    border-bottom: 3px solid #0084B8;
    font-size: 32px !important;
    font-weight: bolder;
    color: #333;
}

.painel-noticias .imagem-noticia img{
    width: 200px;
    height: 130px;
    object-fit: cover;
}

.exibe-noticia .imagem-noticia img {
    width: 400px;
    margin: 0 16px 10px 0;
    float: left;
}

.exibe-noticia .conteudo p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.guia-comercial .categorias a{
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: capitalize;
}

.guia-comercial .card-body {
    padding: 16px;
    padding-left: 1.25rem;
    border-bottom: 1px solid rgba(126, 120, 120, 0.125);
}

.empresas-por-categoria ul {
    padding-inline-start: 0 !important;
}

.swipeView {
    display: grid;
    grid-template-columns: repeat(8, 30%);
    will-change: transform;
    align-content: center;
    overflow-x: auto;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

#card-swipe {
    background-color: #f3f3f3 !important;
}

.opcao {
    scroll-snap-align: start;
}

.swipeView .active {
    color: #2d9cdb;
    font-weight: 500;
}

.btn-categoria:focus {
    color: #2d9cdb;
}

footer {
    background-color: #2d9cdb;
    color: #f2f5f9;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 22px;
}

footer p {
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
}

footer .navegacao {
    padding-left: 40px;
}

.contato p {
    font-size: 14px;
}


@media only screen and (min-width: 1400px) {
    .aviario-home .penultimo-post img {
        width: 100%;
        height: 420px;
        object-fit: cover;
    }
    
    .aviario-home .posts-laterais img {
        width: 100%;
        height: 198px;
        object-fit: cover;
    }

    .aviario-home .previa { 
        -webkit-line-clamp: 2;
    }

    .anuncios-laterais img {
        width: 100%;
    }

    .lista-noticias .imagem-noticia img{
        width: 250px;
        height: 160px;
        object-fit: cover;
    }

   
    .painel-empresas .imagem-comercio img {
        width: 220px;
        height: 220px;
        object-fit: cover;
    }

   
}

@media only screen and (max-width: 1400px) {
    .painel-empresas .imagem-comercio img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .lista-noticias .imagem-noticia img{
        width: 220px;
        height: 140px;
        object-fit: cover;
    }

    .aviario-home .posts-laterais img {
        height: 173px;
    }
}

@media only screen and (max-width:1280px) {
    .painel-empresas .imagem-comercio img {
        width: 190px;
        height: 190px;
        object-fit: cover;
    }

    .painel-noticias .imagem-noticia img{
        width: 210px;
        height: 135px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 414px) {

    .navbar {
        padding: 0;
    }
    .navbar .area-procura-noticia {
        width: 100%;
    }

    .aviario-home .penultimo-post img {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    .aviario-home .posts-laterais {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .aviario-home .posts-laterais img {
        width: 100%;
        height: 120px;
        object-fit: cover;
    }

    .aviario-home .busca-guia-comercial .area-procura-comercio {
        width: 382px;
    }

    .aviario-home .area-categoria {
        text-align: center;
        justify-content: center;
    }

    .linha-categorias {
        justify-content: center !important;
    }

    .legenda-area-categoria {
        text-align: center;
    }


    

    .guia-comercial .area-procura-comercio {
        margin-top: 16px;
    }

    .aviario-home .posts-secundarios {
        margin-left: 0;
        margin-right: 0 !important;
    }

    .aviario-home .posts-secundarios img {
        height: 120px;
    }

    .col-post-secundario {
        padding-right: 0 ;
    }

    .aviario-home .previa p { 
        -webkit-line-clamp: 3;
    }

    .anuncios-laterais img {
        width: 100%;
    }

    .aviario-noticias .imagem-noticia img{
        width: 100%;
        object-fit: cover;
    }

    .painel-empresas .imagem-comercio img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .row-post-lateral, .row-post-secundario{
        padding-right: 0 !important;
    }

    .aviario-home .busca-guia-comercial h2 {
        font-size: 28px;
        line-height: 32px;
        font-weight: bold;
    }

    .aviario-home .busca-guia-comercial p {
        margin-top: 8px;
        font-size: 16px;
        line-height: 16px;
    }

    footer .logo, footer .dev-info, footer .navegacao {
        text-align: center !important;
    }

    footer .navegacao {
        margin: 15px 0;
        padding-left: 0;
    }

    footer .dev-info p {
        line-height: 16px;
    }

}

@media only screen and (max-width: 380px) {
    .aviario-home .busca-guia-comercial .area-procura-comercio {
        width: 328px;
    }
}

@media only screen and (max-width: 320px) {
    .aviario-home .busca-guia-comercial .area-procura-comercio {
        width: 296px;
    }
}

.btn-enviar {
    background-color: #2d9cdb;
    color: #fff;
    width: 100%;
}

  
