/********* GERAL *********/

body{
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p, small {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.7rem;
   
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

h6 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #0084B8;
}

p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3;
    color: #757575;       
}

.busca-nome input {
    width: 350px !important;
}

table {
    border: 1px solid #dee2e6;
}

.w-5{
    display: none;
}


/********* BOTÕES *********/

.btn:hover {
    color: #d1d1d1;
    box-shadow: #FFD800;
}

.btn-cadastrar {
    background-color: #2EA44F;
}

.btn {
    width: 70px;
    color: #fff;
    font-weight: 700;
}

.btn-editar {
    color: #0297e5;
    background-color: transparent;
    border: 2px solid #0297e5;
}

.btn-editar:hover {
    background-color: #0297e5;
    color: #fff;
    transform: scale(1.05);
}

.btn-excluir {
    color: #ff6670;
    background-color: transparent;
    border: 2px solid #ff6670;
}

.btn-excluir:hover {
    background-color: #ff6670;
    color: #fff;
    transform: scale(1.05);
}

.btn-salvar {
    width: 200px;
    height: 40px;
}

.btn-busca-categoria {
    background-color: #8f8f8f;
    width: auto;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.btn-entrar, .btn-salvar {
    background-color: #0084B8;
    color: #fff;
}

.botao-cadastrar .btn-cadastrar {
    position:absolute;
    right: 0px;
}


/********* APP *********/

.content {
    display: flex;
    height: 92vh;
}

#app {
    font-family: 'Montserrat', sans-serif;
    color: #3D4053 !important;
    align-items: center;
}

#app .nav-acesso {
    padding: 0;
    background-color: #0084B8;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

#app .nav-acesso a {
    color: #fff;
}

#app .nav-acesso h6 {
    font-size: 12px;
    margin:0;
    font-weight: thin;
}




/********* LOGIN *********/

.login-page .login-img {
    margin: auto;
    text-align: center;
}

.form-group {
    margin-bottom: 0.6rem;
}

label {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: #333;
}

.form-control:focus{
    box-shadow: none !important;
    border: 1px solid #0084B8;
}

.login-page .btn-entrar, .login-page .btn-salvar {
    width: 100%;
}



/********* PAINEL *********/

.home-page .nav-row, .gerenciamento{
    padding: 0 80px !important;
}

.nav-admin {
    padding: 0;
    background-color: #0084b8;
    color: #fff;
}

.items {
    margin-top: 60px;
}

.home-page a {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
    color: #fff !important;
    margin: 0 0 0 10px;
}

.hr-menu {
    margin: 0;
    border-color:  #0084B8;
}

.content-child {
    padding: 0 70px;
    width: 100vw;
    background-color: #fff;
}

/********* USUÁRIOS *********/

.content-child .lista-usuarios {
    padding: 20px 0;
}

.usuarios .titulo {
    background-color: #0084B8 !important;
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.usuarios th {
    height: 10px !important;
}

.usuarios th:nth-child(1){
    width: 20%;
}

.usuarios th:nth-child(2) {
    width: 70%;
}


/********* COMÉRCIOS *********/

.imagem-comercio {
    margin-right: 15px;
}

.dados-comercio {
    padding-top: 0 !important;
}

.dados-comercio small {
    color: #06C7C4;
}

.dados-comercio .telefone h5 {
    font-weight: 600;
}

.arquivo input{
    padding:  20px !important;
}

.painel-empresas .busca-categoria select{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

/********* NOTÍCIAS *********/



.painel-nova-noticia .categoria label, .painel-nova-noticia .autor label {
    height: 37px;
}

.painel-nova-noticia .categoria {
    vertical-align: bottom;
}

.arquivo label {
    height: 37px;
}

.painel-noticias .imagem-noticia img{
    width: 250px;
    height: 160px;
    object-fit: cover;
}

