@media only screen and (max-width: 414px) {
    .padding-padrao {
        padding: 0 16px;
    }

    #app {
        padding: 0 0 30px;
    }

    .nav-menu {
        margin-top: 0 !important;  
    }
    
    .btn-novo, .btn-salvar {
        width: 95%;
    }


    hr {
        border-color:  #858585;
    }

    

    .usuarios ul {
        padding-top: 0 !important;
    }

    .painel-noticias .imagem-noticia img{
        width: 150px;
        height: 100px;
        object-fit: cover;
    }

    .painel-noticias .titulo-noticia h4 {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .painel-noticias .busca-box {
        margin: auto;
    }

    .painel-empresas .imagem-comercio img{
        width: 115%;
        object-fit: cover;
    }

    .painel-empresas h3 {
        font-size: 1.2rem;
    }

    .painel-empresas h5 {
        font-size: 1rem;
    }

    .botoes {
        justify-content: space-between !important;
        margin: auto;
    }

    .nav-admin {
        margin-top: 0 !important;
    }

    .navbar-toggler-icon {
        color: #fff !important;
    }

    .navbar-toggler {
        border-color: #fff !important;
    }
    
}