@media only screen and (max-width: 414px) {
    
    #app {
        padding: 0;
    }

    h1 {
        font-size: 30px;
        font-weight: bold;
    }
    
    h2 {
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }
    
    .aviario-home h3 {
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
    }

     .posts-laterais h3, .posts-secundarios h3 {
        font-size: 14px !important; 
        line-height: 16px;
        font-weight: 600;
    }

    .home-aviario h4 {
        font-size: 14px;
        font-weight: 600;
    }
    
    .lista-noticias h4 {
        font-size: 16px;
    }
    .categoria h4 {
        font-weight: 800;
        color: #2F80ED;
    }
    
    h5 {
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
    }
    
    h6 {
        font-size: 12px;
        font-weight: bold;
        color: #2D9CDB;
    }
    
    .home-aviario p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 18px;
    }

    p {
        font-size: 16px;
        line-height: 18px;
    }

    .botoes {
        margin-top: 16px !important;
    }
     
    .padding-padrao {
        padding: 0 16px;
    }

    .pt {
        padding-top: 16px;
    }

    .navbar {
        margin-bottom: 0;
    }

   
    
    .btn-novo, .btn-salvar {
        width: 100%;
        margin-top: 12px;
    }

    .usuarios ul {
        padding-top: 0 !important;
    }

    .painel-noticias .imagem-noticia img{
        width: 100% !important;
        height: 100px;
    }

    .painel-noticias .busca-box {
        margin: auto;
    }

    .painel-nova-noticia .categoria, .painel-nova-noticia .autor {
        margin-top: 12px;
    }

    .painel-empresas .imagem-comercio img{
        width: 115%;
        object-fit: cover;
    }

    .botoes {
        justify-content: space-between !important;
        margin: auto;
    }

    .navbar-nav, .search-nav {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }

    .navbar {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .navbar .logo {
        color: #fff;
    }

    .nav-admin {
        margin-top: 0 !important;
    }

    .navbar-toggler-icon {
        color: #fff !important;
    }


    .exibe-noticia .imagem-noticia img {
        width: 100% !important;
    }

    .exibe-noticia .conteudo p {
        line-height: 26px;
    }

    .deixe-comentario {
        font-size: 22px !important;
    }
    
}