@media only screen and (max-width: 414px) {
    
    h1 {
        font-size: 36px;
        font-weight: bold;
    }
    
    h2 {
        font-size: 30px;
        font-weight: bold;
        line-height: 24px;
    }
    
    h3 {
        font-size: 22px;
        font-weight: bold;
    }
    
    h4 {
        font-size: 20px;
        font-weight: 600;
    }
    
    .categoria h4 {
        font-weight: 800;
        color: #2F80ED;
    }
    
    h5 {
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
    }
    
    h6 {
        font-size: 12px;
        font-weight: bold;
        color: #2D9CDB;
    }
    
    .thin {
        font-weight: 500;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
    }

    .botoes {
        margin-top: 16px !important;
    }
     
    .padding-padrao {
        padding: 0 16px;
    }

    #app {
        padding: 0 0 30px;
    }

    .nav-menu {
        margin-top: 0 !important;  
    }
    
    .btn-novo, .btn-salvar {
        width: 95%;
    }


    hr {
        border-color:  #858585;
    }

    

    .usuarios ul {
        padding-top: 0 !important;
    }

    .painel-noticias .imagem-noticia img{
        width: 150px;
        height: 100px;
        object-fit: cover;
    }

    .painel-noticias .busca-box {
        margin: auto;
    }

    .painel-empresas .imagem-comercio img{
        width: 115%;
        object-fit: cover;
    }

    

    .botoes {
        justify-content: space-between !important;
        margin: auto;
    }

    .nav-admin {
        margin-top: 0 !important;
    }

    .navbar-toggler-icon {
        color: #fff !important;
    }

    .navbar-toggler {
        border-color: #fff !important;
    }
    
}